<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>About me page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/cssreset.css}" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" media="screen and (min-width: 56.25em)" th:href="@{/css/widescreen.css}" />
        <link rel="stylesheet" media="screen and (max-width: 37.5em)" th:href="@{/css/smallscreen.css}" />
        <script th:src="@{/me-biography.js}"></script>
    </head>
    <body>
        <me-biography>
            <h1 slot="bla">About Me</h1>
            <p>Anonymous slotsfa</p>
        </me-biography>
    </body>
</html>
