<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>martinetherton.com Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/cssreset.css}" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" media="screen and (min-width: 56.25em)" th:href="@{/css/widescreen.css}" />
        <link rel="stylesheet" media="screen and (max-width: 37.5em)" th:href="@{/css/smallscreen.css}" />
        <script src="me-top-menu.js"></script>

        <style>
            me-top-menu {
                --menu-width: 100%;
            }
            me-top-menu span {
                font-size: 2em;
            }
        </style>

    </head>
    <body>
        <!--<h1>martinetherton.com</h1>-->
        <me-top-menu theme="navy">
            <span slot="site-name">Mep</span>
        </me-top-menu>

        <!--<section>-->
            <!--<h2><a href="/about-me">About Me</a></h2>-->
        <!--</section>-->
        <!--<section>-->
            <!--<h2><a href="/one-name-study">One Name Study</a></h2>-->
        <!--</section>-->
        <!--<script>-->

            <!--fetch(`http://localhost:8080/api/user`)-->
            <!--.then((response) => response.text())-->
            <!--.then((responseText) =>-->
              <!--JSON.parse(responseText)-->
            <!--)-->
            <!--.catch((error) => {-->
                <!--console.error(error);-->
                <!--});-->


            <!--</script>-->

    </body>
</html>
