<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>martinetherton.com Sign In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/cssreset.css}" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" media="screen and (min-width: 56.25em)" th:href="@{/css/widescreen.css}" />
        <link rel="stylesheet" media="screen and (max-width: 37.5em)" th:href="@{/css/smallscreen.css}" />
    </head>
    <body>
      <section class="login-container">
          <section class="login-form">
            <header>Please sign in</header>
            <form class="login" th:action="@{/login}" method="post">
                <section class="error" th:if="${param.error}">
                    Invalid username and/or password.
                </section>
                <section class="logged-out" th:if="${param.logout}">
                    You have been logged out.
                </section>
                <section><input class="form-control" placeholder="User name" type="text" name="username"/></section>
                <section><input class="form-control" placeholder="Password" type="password" name="password"/></section>
                <section class="checkbox"><input type="checkbox" name="remember"/>&nbsp;Remember me</section>
                <section class="submit"><input class="form-control" type="submit" value="Sign In"/></section>
            </form>
          </section>
      </section>
    </body>
</html>
